body{
    background-color: lightgrey;
    height:100%;
    width:100%;
}

:root{
    --shake_deg:0.5deg;
}
.admin_title{
    font-size:5vmax;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    align-items: center;
    gap:5vmax;
}
.story_item{
    animation:0.3s shake  infinite;
}
.plus{
    cursor:pointer;
    animation:none;
}
.delete_button{
    width:5vmax;
    height:5vmax;
    border-radius:100%;
    background-color:grey;
    color:black;
    text-align: center;
    font-size:5vmax;
    display:flex;
    justify-content: center;
    position:absolute;
    top:-2.5vmax;
    left:-2.5vmax;
    font-weight:1000;
}
@keyframes shake{
    0%{
        transform:rotate(calc(-1*var(--shake_deg)));
    }
    25%{
        transfrom:rotate(0deg);
    }
    50%{
        transform:rotate(var(--shake_deg));
    }
    75%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(calc(-1*var(--shake_deg)));
    }

}
.delete_menu-container{
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:100;
}
.hidden{
    display:none;
}
.delete_menu{
    background:white;
    box-shadow: 0 0 5px 1px black;
    border-radius:15px;
    min-height:20vmax;
    min-width:20vmax;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    font-size:5vmax;
    font-family: Arial, Helvetica, sans-serif;
    padding:3vmax;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:5vmax;
}
.cancel{
    background-color:black;
    border-radius: 15px;
    color:white;
    padding:1vmax;
    font-size:4vmax;
    cursor:pointer;
}
.delete{
    background-color:black;
    border-radius: 15px;
    color:red;
    padding:1vmax;
    font-size:4vmax;
    cursor:pointer;


}
