body{
    background-color:lightgray;
    width:100%;
    height:100%;
}

.container{
overflow-x:hidden;
overflow-y:scroll;
position:fixed;
height:100%;
width:100%;
}
.story{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:0;
    padding:2vmax;
}
.cover{
    height:fit-content;
    width:100%;
    display:flex;
    gap:5vw;
    margin-bottom:5vmax;
}
.cover img{
    height:15vmax;
    width:15vmax;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px;
}
.cover p{
    padding:1vmax;
    margin:0;
    background-color:white;
}
.title{
    font-size:5vmax;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description{
    font-size:3vmax;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.story-content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:3vmax;
    padding:5vmax;
    background-color:white;
    border-radius:15px;
}
.column{
    display:flex;
    flex-direction: column;
    gap:0;
}