body{
    background-color:#0b1c3d;
}
.container{
    overflow-x:hidden;
    overflow-y: scroll;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    flex-direction: column; 
    gap:2vmax;
}
input{
    font-size:3vmax;
    width:60vw;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px white;
}
textarea{
    font-size:1.5vmax;
    width:80vw;
    resize:none;
    border-radius: 15px;
    box-shadow: 0 0 5vmax 1px white;


}
.content{
height:50vh;
}
.description{
    height:10vh;
}
.row{
    display:flex;
    flex-direction:row;
}
.row img{
    width:20vw;
    height:20vw;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px white;

}
.column{
display:flex;
flex-direction:column;
gap:3vmax;
}
.submit{
    width:fit-content;
  
}
